@import "/src/app/@theme/styles/variables";
.card-news {
  .img-box {
    width: 100%;
    height: 270px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-title {
    font-size: 16px;
    margin: 0.8rem 0;
    color: $darkGreen;
    font-weight: bold;
    overflow: hidden;
    height: 42px;
    cursor: pointer;
  }
  .date {
    color: $orange;
  }
  .news-icon {
    list-style: none;
    display: flex;
    color: $orange;
    li {
      margin: 0 0.3rem;
    }
  }
}
