footer {
  width: 100%;
  color: white;
  padding: 1rem;
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #193F3D;
  ul {
    list-style: none;
    text-transform: capitalize;
    opacity: 0.8;
    li {
      line-height: 1.8;
    }
  }
  .first-row {
    text-transform: uppercase;
  }
}
