<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="first-row">
          <li>Why Invest</li>
          <li>Industries</li>
          <li>Programs & Incentives</li>
          <li>Locations</li>
          <li>News About</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>Contact Us</li>
          <li class="email">mail@linkdevelopment.com</li>
          <li>+02-12-14490877</li>
          <li>Please drop an email or call us, Our Representative</li>
          <li>Will call with you soon</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>Subscribe to out newsletter</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
