@import "~swiper/dist/css/swiper.min.css";
@import "/src/app/@theme/styles/variables";

.latest-news {
  .title {
    background: url("/assets/images/bg-news.jpg");
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    min-height: 250px;
    background-size: cover;
    background-position: center center;
    position: relative;
    color: $white;
    .overlay {
      background: rgba(50, 79, 76, 0.9);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    p {
      position: absolute;
      margin: 0;
      font-size: 25px;
      opacity: 0.8;
    }
  }

  .news-list {
    padding: 1rem 3rem;
    > p {
      color: $darkGreen;
    }

    .more-btn {
      margin: 1rem 0.5rem;
      border: 1px solid $darkGreen;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      font-size: 14px;
    }

    .card-news {
      .img-box {
        width: 100%;
        height: 270px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .card-title {
        font-size: 16px;
        margin: 0.8rem 0;
        color: $darkGreen;
        font-weight: bold;
        overflow: hidden;
        height: 42px;
        cursor: pointer;
      }
      .date {
        color: $orange;
      }
      .news-icon {
        list-style: none;
        display: flex;
        color: $orange;
        li {
          margin: 0 0.3rem;
          i {
            cursor: pointer;
          }
        }
      }
    }
  }
}
