<nav
  class="navbar navbar-dark flex-md-nowrap p-0 shadow"
  [ngClass]="{ 'fixed-pos': isTransparentNav }"
>
  <div class="container-fluid">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="../">
      <div class="main-logo">
        <div class="img-box">
          <img
            class="img-fluid"
            src="assets/images/LinkDev_white.png"
            alt="Logo"
          />
        </div>
      </div>
    </a>
    <ul class="navbar-nav px-3 flex-row">
      <li class="nav-item text-nowrap px-2">
        <a class="nav-link" routerLink="../">{{"signIn" | translate}}</a>
      </li>
      <li class="nav-item text-nowrap px-2">
        <button type="button" (click)="changeCurrentLang('en')" class="btn btn-primary">English</button>
      </li>
      <li class="nav-item text-nowrap px-2">
        <button type="button" (click)="changeCurrentLang('ar')" class="btn btn-primary">Arabic</button>
      </li>

      <!-- <li>
        <select class="custom-select" (change)="changeLang($event.target.value)">
          <option value="en" [selected]="currentLang == 'en'">English</option>
          <option value="ar" [selected]="currentLang == 'ar'">Arabic</option>
        </select>
      </li> -->
    </ul>
  </div>
</nav>
