<app-news-filter
  (updateFilter)="onChangeDate($event)"
  [latestNews]="latestNews"
  (seacrhOutput)="onChangeSearch($event)"
></app-news-filter>
<div class="news-list">
  <!-- <app-news-card [latestNews]="latestNews"></app-news-card> -->
  <div class="row" *ngIf="!loader && latestNews.length">
    <div
      *ngFor="let latestNew of latestNews | filter: searchValue"
      class="col-md-3"
    >
      <div class="card-news">
        <div class="img-box">
          <img
            [src]="
              latestNew.urlToImage || 'https://via.placeholder.com/350x350'
            "
            alt="img"
          />
        </div>
        <h5 class="card-title" (click)="openNewsDetails(latestNew.id)">
          {{ latestNew.title }}
        </h5>
        <div class="d-flex justify-content-between">
          <p class="date">{{ latestNew.published | date }}</p>
          <ul class="news-icon">
            <li>
              <i class="fa-regular fa-heart fa-lg"></i>
            </li>
            <li>
              <i class="fa-solid fa-share-nodes fa-lg"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      *ngIf="newsShowMore"
      class="d-flex flex-row-reverse align-items-center justify-content-center"
    >
      <div class="more-btn pointer" (click)="showMore()">
        <i class="fa-solid fa-arrow-right-long"></i>
      </div>
      <p class="m-0">Load More</p>
    </div>
  </div>

  <p *ngIf="latestNews.length === 0">
    <ngb-alert [dismissible]="false"> No Data Found. </ngb-alert>
  </p>
  <div class="text-center my-3" *ngIf="loader">
    <span class="spinner-border spinner-border-sm mr-1 text-center"></span>
  </div>
</div>
